/* fichier css pour les styles des pages autre que la page index.html*/
body {
    background-color: #e3f2fd;
}
.container-fluid {
    margin-top: 25px;
}

.nav-bar {
    padding: 0 1rem;
   
}

.nav-item.active {
    background-color: #95cef659;
}


.titre {
    justify-content: center;
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: center;
    
}

.toolbar {
    list-style: none;
    padding-left: 0;
}

    .toolbar li {
        display: inline-block;
        margin-right: 10px;
    }

.actions {
    margin-top: 25px;
}

    .actions button,
    .actions a {
        margin-right: 15px;
    }

/* Loader */

.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loader (fin) */

/*.Agence {
    border: solid 1px lightgray;
    padding: 10px;
}

.Agence input[type=checkbox] {
    margin-right: 10px;
}

.Agence button {
    float: right;
    display: none;
    margin-right: 4px;
}

.Agence:hover button {
    display: block;
}*/

.Liste {
    border: solid 1px lightgray;
    padding: 10px;
}

    .Liste input[type=checkbox] {
        margin-right: 10px;
    }

    .Liste button {
        float: right;
        display: none;
        margin-right: 4px;
    }

    .Liste:hover button {
        display: block;
    }

/*.navbar-light {
            color: black;
            font-weight: bold;
        }

        .navbar-brand {
            font-size: x-large;
        }

        .nav-link {
            font-size: large;
        }

        .active {
            background-color: gray;
        }*/

.bsAlert {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 320px;
            margin-left: -100px;
            margin-top: -100px;
            display: none;
            word-break: break-all
        }